@import url('https://googleapis.com');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-text: #171717;
  --color-text-muted: #545454;
  --color-background: #ffffff;
  --color-surface: #f5f5f5;
  --color-border: #e5e5e5;
}

.dark {
  --color-text: #fafafa;
  --color-text-muted: #bcbcbc;
  --color-background: #171717;
  --color-surface: #262626;
  --color-border: #404040;
}

@theme {
  --color-text: var(--app-text);
  --color-text-muted: var(--app-text-muted);
  --color-background: var(--app-background);
  --color-surface: var(--app-surface);
  --color-border: var(--app-border);

  --font-display: "Playfair Display", serif;
}

.section-title {
    @apply text-2xl font-medium font-display
}